.grid-container {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "aside section section"
    "footer footer footer";
}

.navbar {
  grid-area: nav;
  display: flex;
  background-color: #502f4c;
  height: 10vh;
  max-width: 100vw;
  justify-content: center;
  align-items: center;
  font-family: "Secular One", sans-serif;
  color: #f9f4f5;
}

/* SIDE BAR */

.side-product-bar {
  grid-area: aside;
  background-color: #c8b8db;
  display: flex;
  max-width: 20vw;
  flex-direction: column;
}

.side-product-bar h2 {
  padding: 0 1.5rem;
}

.product-categories {
  padding: 0 1.5rem;
  font-weight: 600;
}

.product-categories p span {
  color: #3b3641;
  font-weight: 100;
  font-size: 14px;
}

/* PRODUCT SECTION */

.product-section {
  grid-area: section;
  background-color: #c8b8db;
  min-width: 80vw;
  /* INNER PRODUCT GRID */
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 300px);
  gap: 1rem;
  padding: 1rem 0;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
}

.product-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  background-color: #ffffff;
}

.product-title {
  font-size: 26px;
}

.product-price {
  font-size: 18px;
}

.btn {
  width: 100%;
  text-decoration: none;
  line-height: 2;
  color: #fff;
  background-color: #502f4c;
  height: 35px;
  border: 0;
}

/* FOOTER */

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Secular One", sans-serif;
  background-color: #f9f4f5;
  height: 10vh;
  max-width: 100vw;
}

/* FONT STYLING */
.big-text {
  font-family: "Secular One", sans-serif;
}

.small-text {
  font-family: "Secular One", sans-serif;
  font-weight: 300;
}

/* RESPONSIVE LAYOUT */
/* TABLET */

@media only screen and (max-width: 1140px) {
  .product-section {
    grid-template-columns: 300px 300px;
  }
  .big-text {
    font-size: 1.5rem;
  }

  .btn {
    line-height: 1.5;
  }
}

/* MOBILE */
@media only screen and (max-width: 768px) {
  .product-section {
    grid-template-columns: 420px;
    justify-items: center;
  }
}

@media only screen and (max-width: 425px) {
  .side-product-bar {
    display: none;
  }

  .product-section {
    grid-template-columns: 300px;
    width: 100vw;
    justify-items: center;
  }
}
